{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors }}
        </div>
    {% endif %}

    {% if baseAmount is not None %}
        {% include "app/configure/receipt.html" %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="form-group row m-2" id="batteriesForm">
                        {% include "app/configure/load_batteries.html" %}
                    </div>

                    <div class="form-group row m-2" id="wheelsForm">
                    </div>

                    <div class="form-group row m-2" id="tiresForm">
                    </div>
                    <div class="row m-2" id="checkout">
                        {% include "app/configure/checkout.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}